
/*burger container section*/

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/
/*body {*/
/*    background: #272727;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*}*/

html {
    background: #ffd55a;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    /*cursor: pointer;*/
    transition: all .75s ease-in-out;
    /* border: 3px solid #fff; */
}
.header-hamburger {
    width: 85px;
    height: 30px;
    /*background: #fff;*/
    /*box-shadow: 0 2px 5px rgba(255,101,47,.2);*/
    transition: all .75s ease-in-out;
}
.header-hamburger::before,
.header-hamburger::after {
    content: '';
    position: absolute;
    width: 85px;
    height: 30px;
    /*background: #fff;*/
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .75s ease-in-out;
}
.header-hamburger::before {
    transform: translateZ(-40px);
    background: #293250;
    margin-left: -5%;
}
.header-hamburger::after {
    cursor: pointer;
    transform: translateZ(40px);
    animation: burger-link-background 5s;
    animation-iteration-count: infinite;
}

@keyframes burger-link-background {
    0% {
        background: #ffd55a;
    }
    5% {
        background: #9e1e19;
    }
    10% {
        background: #798190;
    }
    15%{
        background: #801814;
    }
    20%{
        background: #9e1e19;
    }
    100%{
        background: #ffd55a;
    }
}
/* ANIMATION */
.header-container.open .header-hamburger {
    transform: translateX(-75px);
    background: transparent;
    box-shadow: none;
}
.header-container.open .header-hamburger::before {
    transform: rotate(45deg) translate(75px, -75px);
}
.header-container.open .header-hamburger::after {
    transform: rotate(-45deg) translate(2px, 2px);
}

/*burger container ends here*/


/* Slideshow container */

a {
    text-decoration-line: none;
}

.burger-links {
    color: #293250;
    margin-left: 5px;
    /*margin-top: -8px;*/
    font-size: .8em;
    font-family: 'Press Start 2P', cursive;
    text-decoration-line: none;
    text-underline: none;
    text-underline-style: none;
}

.burger-links::before {
    border: 5px solid #293250;
    /*color: transparent;*/
}

/*.burger-links::after {*/
/*    border: 5px red;*/
/*    color: red;*/
/*}*/

.burger-links:hover {
    cursor: pointer;
    font: black;
    font-size: .9em;
    transition: .55s ease-in-out;
    opacity:0.7;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.burger-container {
    display: flex;
    flex-direction: column;
    margin-top: -55%;
    max-width: 40%;

}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    grid-area: 2 / 2/ 3/ 5;
}

/*@keyframes border-radius-change {*/
/*    0% {*/
/*        border-radius: 25px;*/
/*    }*/
/*    20% {*/
/*        border-radius: 35px;*/
/*    }*/
/*    40% {*/
/*        transform: border-radius: 45px;*/
/*    }*/
/*    50%{*/
/*        transform: border-radius: 55px;*/
/*    }*/
/*    60% {*/
/*        transform: border-radius: 45px;*/
/*    }*/
/*    70% {*/
/*        transform: border-radius: 35px;*/
/*    }*/
/*    90%{*/
/*        transform: border-radius: 30px;*/
/*    }*/
/*    100%{*/
/*        transform: border-radius: 25px;*/
/*    }*/
/*}*/

/* images hidden here*/
.mySlides {
    display: none;
}



@keyframes border-radius-change {
    0% {
        border-radius: 5% 50% 75% 50% / 10% 20% 50% 10%;
    }
    20% {
        border-radius: 35% 50% 75% 50% / 10% 20% 50% 10%;
    }
    40% {
        border-radius: 45% 50% 75% 50% / 10% 20% 50% 10%;
    }
    50%{
        border-radius: 55% 50% 75% 50% / 10% 20% 50% 10%;
    }
    60% {
        border-radius: 45% 50% 75% 50% / 10% 20% 50% 10%;
    }
    70% {
        border-radius: 35% 50% 75% 50% / 10% 20% 50% 10%;
    }
    90%{
        border-radius: 30% 50% 75% 50% / 10% 20% 50% 10%;
    }
    100%{
        border-radius: 25% 50% 75% 50% / 10% 20% 50% 10%;
    }
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 30px;
    font-weight: bold;
    font-size: 25px;
    transition: 0.3s ease-in-out;
    border-radius: 0 15px 35px 0;
    user-select: none;
    animation: arrow-colors 3s;
    animation-iteration-count: infinite;
}

@keyframes arrow-colors {
    0% {
        color: #f6ff4f;
    }

    25% {
        color: #04EBBE;
    }

    50% {
        color: #A5E703;
    }

    75% {
        color: #E76703;
    }

    100% {
        color: #f6ff4f;
    }
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 15px 0px 0px 35px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    /*background-color: rgba(0,0,0,0.8);*/
    animation: background-colors 2s;
    animation-iteration-count: infinite;
}

@keyframes background-colors {
    0% {
        background: cyan;-webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    25% {
        background: yellow;-webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    50% {
        background: red;-webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    75% {
        background: green;-webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        background: cyan; -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*//////////////*/
* {
    box-sizing: border-box;
    margin: auto;
}


#whole-page-container {
    width: 100%;
    height: 100%;
    display: grid;
    background: #ffd55a;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}


#left-hand-nav {
    border: 2px solid transparent;
    max-height: 50vh;
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 50%;
}

.flex-container-skeleton {
    border: 5px solid pink;
    border-radius: 20px;
    display: flex;
    grid-area: 3 / 2/ 4/ 5;
    margin-top: 1%;
    width: 75vw;
}

/*.flex-container-skeleton flex-section:nth-child(1) {*/
/*    border: 5px solid maroon;*/
/*}*/
.flex-section {
    padding: 5px;
}

.flex-section:nth-child(1) {
    border: 5px solid red;
    border-radius: 20px;
}
.flex-section:nth-child(2) {
    border: 5px solid green;
    border-radius: 20px;
}
.flex-section:nth-child(3) {
    border: 5px solid yellow;
    border-radius: 20px;
}


ul {
    display: flex;
    flex-direction: column;
}

li {
    padding: 20px;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;
}

.first-art {
    margin-top: 1%;
    grid-area: 2 / 1 / 3/ 3;
}

.second-art {
    margin-top: 1%;
    grid-area: 2/ 4/ 3/ 6;
}

.third-art {
    grid-area: 2/ 1/ 4/ 3;
}

.fourth-art {
    grid-area: 2/ 4/ 4/ 6;
}

.fifth-art {
    grid-area: 3/ 2/ 4/ 3;
    border: 15px;
}

.sixth-art {
    grid-area: 3/ 4/ 4/ 5;
    border: 15px;
    animation: clockwise 5s;
    animation-iteration-count: infinite;
}

.art-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 25px;
}

.art-image:hover {
    animation: bounce .85s;
    cursor: pointer;
    box-shadow: 0 5px 35px 0px rgba(0,0,0,1.5);
    transition-timing-function: ease-in-out;
}


@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px); transform: scale(1.11);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.header1, h2 {
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Press Start 2P', cursive;
    color: #293250;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
}


.primary-image {
    width: 100%;
    height: 100%;
    border-radius: 29%;
    box-shadow: 2px .5px 2px 2px,
    10px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);
    animation: shifty 5s;
    animation-iteration-count: infinite;
}

/*this is where the moon divs section will starts*/


.moon1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 red;
    animation: rotate 5s;
    animation-iteration-count: infinite;
}

@keyframes rotate{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}


.moon2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 #960803;
    transform: rotate(120deg);
    animation: rotate 5s;
    animation-iteration-count: infinite;
}

.moon3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 #b00b05;
    transform: rotate(107deg);
    animation: rotate 5s;
    animation-iteration-count: infinite;
}

.moon4 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 #db0c04;
    transform: rotate(90deg);
    animation: rotate 5s;
    animation-iteration-count: infinite;
}

.moon5 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 #fc443d;
    transform: rotate(60deg);
    animation: rotate 5s;
    animation-iteration-count: infinite;
}

.moon6 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 #ffa9a6;
    transform: rotate(40deg);
    animation: rotate 5s;
    animation-iteration-count: infinite;
}




/*this is where moon divs section ends*/

@keyframes shifty {
    0%{
        transform: translate3d(0, -75px, 0);
    }
    25%{
        transform: translate3d(0, -25px, 0);
    }
    50%{
        transform: translate3d(0, -25px, 0); animation-delay: 2s;
    }
    75%{
        transform: translate3d(0, -25px, 0);
    }
    100%{
        transform: translate3d(0, -75px, 0);
    }
}

.main-section {
    grid-area: 1 / 2 / 2 / 5;
    padding: 10px;

}

.left-section {
    /*padding: 20px;*/
}
.right-section {
    border: 15px solid #3c486e;
    border-radius: 15px;
    grid-area: 1/ 5/ 2/ 6;
    margin-top: 90%;
    height: 35vh;
    background: #293250;
    width: 19vw;
}

.right-section p {
    color: #ffd55a;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.75em;
    text-align: center;
    border-radius: 15px;
}

/*.primary-image {*/
/*    width: 50vw;*/
/*    height: 70vh;*/
/*}*/

#third-container {
    display: flex;
    flex-direction: row;
    grid-area: 4 / 3 / 5 / 4;
    margin-top: -1%;
}

.left-side-container {
    display: flex;
}


#moon-left-eye {
    grid-area: 3/ 2/ 4/ 3;
    margin-bottom: 1%;
}

#moon-right-eye {
    grid-area: 3/ 4/ 4/ 5;
    margin-bottom: 1%;
}

.main-moon-container {
    width: 20px;
}

.moon-main-container:nth-child(1) {
    margin-top: 15%;
}

.moon-main-container:nth-child(2) {
    margin-top: 50%;
}

.moon-main-container:nth-child(3) {
    margin-top: 60%; background: blue;
}

.moon-main-container:nth-child(4) {
    margin-top: 50%;
}

.moon-main-container:nth-child(5) {
    margin-top: 15%;
}

.moon-main-container:nth-child(6) {
    margin-top: 60%;
}



/*here starts css for moving letters*/

.Monofett {
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    text-align: center;
    color: #293250;
}

#second-container {
    display: flex;
    margin-top: 5%;
}

.moving-letter1 {
    animation: letterOneMove 5s;
    animation-iteration-count: infinite;
}

@keyframes letterOneMove {
    0% {
        transform: translate3d(20px, 0, 0); color: #f6ff4f;
    }

    25% {
        transform: translate3d(10px, 0, 0); color: grey;
    }

    50% {
        transform: translate3d(2px, 0, 0); color: black;
    }

    75% {
        transform: translate3d(40px, 0, 0); color: grey;
    }

    100% {
        transform: translate3d(20px, 0, 0); color: #f6ff4f;
    }
}

.moving-letter2 {
    animation: letterOneMove 5s;
    animation-iteration-count: infinite;
    animation-delay: .5s;
    margin-left: 5px;
}

@keyframes letterOneMove {
    0% {
        transform: translate3d(20px, 0, 0);
    }

    25% {
        transform: translate3d(10px, 0, 0);
    }

    50% {
        transform: translate3d(2px, 0, 0);
    }

    75% {
        transform: translate3d(40px, 0, 0);
    }

    100% {
        transform: translate3d(20px, 0, 0);
    }
}

.moving-letter3 {
    animation: letterOneMove 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    margin-left: 10%;
}

@keyframes letterOneMove {
    0% {
        transform: translate3d(20px, 0, 0); color: #f6ff4f;
    }

    25% {
        transform: translate3d(10px, 0, 0); color: grey;
    }

    50% {
        transform: translate3d(2px, 0, 0); color: black;
    }

    75% {
        transform: translate3d(40px, 0, 0); color: grey;
    }

    100% {
        transform: translate3d(20px, 0, 0); color: #f6ff4f;
    }
}

.moving-letter4 {
    animation: letterOneMove 5s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    margin-left: 15%;
}

@keyframes letterOneMove {
    0% {
        transform: translate3d(20px, 0, 0); color: #f6ff4f;
    }

    25% {
        transform: translate3d(10px, 0, 0); color: grey;
    }

    50% {
        transform: translate3d(2px, 0, 0); color: black;
    }

    75% {
        transform: translate3d(40px, 0, 0); color: grey;
    }

    100% {
        transform: translate3d(20px, 0, 0); color: #f6ff4f;
    }
}

.moving-letter5 {
    animation: letterTwoMove 2s;
    animation-iteration-count: infinite;
    animation-delay: .5s;
    margin-left: 20%;
}

@keyframes letterTwoMove {
    0% {
        transform: translate3d(0px, -15px, 0px); color: #f6ff4f;
    }

    25% {
        transform: translate3d(0px, -25px, 0px); color: grey;
    }

    50% {
        transform: translate3d(0px, -0px, 0px); color: black;
    }

    75% {
        transform: translate3d(0px, -25px, 0px); color: grey;
    }

    100% {
        transform: translate3d(0px, -15px, 0px); color: #f6ff4f;
    }
}

@keyframes letterOneMove {
    0% {
        transform: translate3d(20px, 0, 0); color: #f6ff4f;
    }

    25% {
        transform: translate3d(10px, 0, 0); color: grey;
    }

    50% {
        transform: translate3d(2px, 0, 0); color: black;
    }

    75% {
        transform: translate3d(40px, 0, 0); color: grey;
    }

    100% {
        transform: translate3d(20px, 0, 0); color: #f6ff4f;
    }
}

.moving-letter6 {
    animation: movingLetterSix 2s;
    animation-iteration-count: infinite;
}

@keyframes movingLetterSix {
    0% {
        transform: translate3d(0px, -15px, 0px); color: #f6ff4f;
    }

    25% {
        transform: translate3d(0px, -25px, 0px); color: grey;
    }

    50% {
        transform: translate3d(0px, -0px, 0px); color: black;
    }

    75% {
        transform: translate3d(0px, -25px, 0px); color: grey;
    }

    100% {
        transform: translate3d(0px, -15px, 0px); color: #f6ff4f;
    }
}

@keyframes letterOneMove {
    0% {
        transform: translate3d(40px, 0, 0); color: #f6ff4f;
    }

    25% {
        transform: translate3d(69px, 0, 0); color: grey;
    }

    50% {
        transform: translate3d(2px, 0, 0); color: black;
    }

    75% {
        transform: translate3d(69px, 0, 0); color: grey;
    }

    100% {
        transform: translate3d(40px, 0, 0); color: #f6ff4f;
    }
}

/*.moving-letter7 {*/
/*    animation: letterOneMove 5s;*/
/*    animation-iteration-count: infinite;*/
/*    animation-delay: 3s;*/
/*    margin-left: 5%;*/
/*}*/

@keyframes letterOneMove {
    0% {
        transform: translate3d(40px, 0, 0); color: #f6ff4f;
    }

    25% {
        transform: translate3d(69px, 0, 0); color: grey;
    }

    50% {
        transform: translate3d(2px, 0, 0); color: black;
    }

    75% {
        transform: translate3d(69px, 0, 0); color: grey;
    }

    100% {
        transform: translate3d(40px, 0, 0); color: #f6ff4f;
    }
}


/*here starts code for blob 6*/
#blob6 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: black;
    z-index: 2;
    animation: blobbysixth 3s;
    animation-iteration-count: infinite;
}

@keyframes blobbysixth {
    0%{
        transform: translate3d(12em, 0em, 0em); background: #9c1c17;
    }
    25%{
        transform: translate3d(12em, 0em, 0em); background: #bf2121;
    }
    50%{
        transform: translate3d(0em, 0em, 12em); background: #e60f00;
    }
    75%{
        transform: translate3d(0em, 0em, 12em); background: #db330d;z-index: -1;
    }
    100%{
        transform: translate3d(12em, 0em, 0em); background: #9c1c17;
    }
}

#blob6M {
    position: relative;
    height: 15px;
    width: 30px;
    background: #488924;
    margin: 0 1em 1em 0;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    margin-left: 30%;
    margin-top: 15%;
    animation: blobsixthmouth 1s;
    animation-iteration-count: infinite;
}

@keyframes blobsixthmouth {
    0%{
        background: #750202;
    }
    25%{
        background: #421111;
    }
    50%{
        background: #2b1010;
    }
    75%{
        background: #421111;
    }
    100%{
        background: #750202;
    }
}

#blob6Leye {
    background: black;
    position: relative;
    width: 10px;
    height: 2px;
    border-top: 0px solid transparent;
    border-right: 9px solid black;
    transform: rotate(10deg);
    margin-left: 15%;
    margin-top: 35%;
}

#blob6Reye {
    background: black;
    position: relative;
    width: 10px;
    height: 2px;
    border-top: 0px solid transparent;
    border-right: 9px solid black;
    transform: rotate(-10deg);
    margin-left: 60%;
    margin-top: -1%;
}

#blob6Liris {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 20%;
    animation: irisy 2s;
    animation-iteration-count: infinite;
}

#blob6Riris {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 20%;
    animation: irisy 2s;
    animation-iteration-count: infinite;
}

@keyframes irisy {
    0%{
        background: #f5ec42; transform: scale(0);
    }
    25%{
        background: #fffffc; transform: scale(-.25);
    }
    50%{
        background: #f5ec42; transform: scale(-.75);
    }
    75%{
        background: #fffffc; transform: scale(-.25);
    }
    100%{
        background: #f5ec42; transform: scale(0);
    }
}


/*here starts code for blob 7*/
#blob7 {
    margin-bottom: 75%;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: blobsevenmouth 5s;
    animation-iteration-count: infinite;
}

#blob7Leye {
    background: #f3f7e1;
    position: relative;
    width: 10px;
    height: 2px;
    border-top: 0px solid transparent;
    border-right: 9px solid #f3f7e1;
    transform: rotate(-5deg);
    margin-left: 15%;
    margin-top: 35%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}

#blob7Liris {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 85%;
    margin-top: 20%;
    background: white;
    animation: blobseveneyes 3s;
    animation-iteration-count: infinite;
}

#blob7Reye {
    background: #f3f7e1;
    position: relative;
    width: 10px;
    height: 2px;
    border-top: 0px solid transparent;
    border-right: 9px solid #f3f7e1;
    transform: rotate(-10deg);
    margin-left: 60%;
    margin-top: -10%;
}

#blob7Riris {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 55%;
    margin-top: 85%;
    background: white;
    animation: blobseveneyes 3s;
    animation-iteration-count: infinite;
}

@keyframes blobseveneyes {
    0%{
        background: #edf5ab; transform: scaleY(0);
    }
    25%{
        background: #faf373; transform: scaleY(-.5);
    }
    50%{
        background: #f7eb05; transform: scaleY(-1);
    }
    75%{
        background: #faf373; transform: scaleY(-.5);
    }
    100%{
        background: #edf5ab; transform: scaleY(0);
    }
}

#blob7M {
    background: #f3f7e1;
    position: relative;
    width: 10px;
    height: 2px;
    border-top: 0px solid transparent;
    border-right: 9px solid #f3f7e1;
    transform: rotate(10deg);
    margin-left: 15%;
    margin-top: 35%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}


@keyframes blobsevenmouth {
    0%{
        background: #293250; transform: translate3d(1em, 0em, 0em);
    }
    25%{
        background: #606c94; transform: translate3d(0em, 0em, 0em);
    }
    50%{
        background: #495fa6; transform: translate3d(0em, 0em, -5em); z-index: 2;
    }
    75%{
        background: #606c94; transform: translate3d(0em, 0em, -5em);
    }
    100%{
        background: #293250; transform: translate3d(1em, 0em, 0em);
    }
}

/*here ends css for blob 7*/
